{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}

{% block body %}
    <!-- all posts display -->
    <div class="container mt-5" id="all-posts-view">
        {% if posts %}
        {% for post in page_obj %}
        <div class="card mb-3" id="post-{{ post.id }}">
           
            <div class="card-header">
                <div class="d-flex flex-row align-items-center">
                    <img class="rounded-circle shadow-1-strong me-3" src="static\network\blank-profile-pic.png" alt="avatar" width="40" height="30" />
                    <div class="ml-2 pl-2">
                        <a href="{% url 'profile' post.user.username %}" class="post-username"><strong>{{ post.user.username }} </strong></a>
                        <div class="text-muted small">
                            posted on {{ post.date }}
                        </div> 
                    </div>
                </div>        
            </div>
            <div class="card-body">
                <h5 class="card-title"><b>{{ post.headline }}</b></h5>
                <p class="card-text" id="post-{{ post.id }}-content"> {{ post.content }}</p>
                <div class="edit-content-textarea" id="disable-post-{{ post.id }}-content"></div>
                <div id="buttons-{{ post.id }}">
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <div class="d-flex flex-row align-items-center">
                            <div class="p-2">
                                <b id="like-count-{{ post.id }}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  {{ post.post_like.count }}</b>
                                {% if user.is_authenticated %}
                                    {% if not post in liked_posts %}
                                        <button class="like-text" id="like-text-{{ post.id }}" value="like">Like</button>
                                    {% else %}
                                        <button class="like-text" id="like-text-{{ post.id }}" value="unlike">Unlike</button>
                                    {% endif %}
                                {% endif %}
                                
                            </div>
                        
                            <div class="p-2">
                                <b id="comment-count"><i class="fa fa-comment-o" aria-hidden="true"></i> 0</b>
                                {% if user.is_authenticated %}
                                    <span class="ms-1 fs-10">Comment</span>
                                {% endif %}
                            </div>
                            
                        </div>
                        {% if user.username == post.user.username  %}
                        <div class="p-2">
                            <button class="btn btn-primary btn-sm border-0 px-3 edit-button" id="edit-button-{{ post.id }}" type="button">Edit</button>
                        </div>
                        {% endif %}
                    </div>  
                </div>
            </div>
            
        </div>
        {% endfor %}  
    </div>
    
    <!-- paginator -->
    <div class="container py-3">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
                
            {% if page_obj.number %}
            <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link">0</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>


    {% else %}
    <div class="container"><p>No posts so far.</p></div>
    {% endif %}

{% endblock %}

